# BhumiLink API Configuration
PORT=5000

# MongoDB Configuration (Local or MongoDB Atlas)
# Example Local: mongodb://127.0.0.1:27017/bhumilink
# Example Atlas: mongodb+srv://<username>:<password>@central-db.y8k6xzl.mongodb.net/?appName=Central-DB
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@central-db.y8k6xzl.mongodb.net/?appName=Central-DB
MONGODB_DB_NAME=bhumilink
